/* General Styles */
body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Main Content */
main {
  
  padding: 40px;
  max-width: 1200px;
  margin: 6rem auto;
}


/* Online Exam Section */
.online-exam-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.online-exam-info h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.online-exam-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.btn-exam {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-exam:hover {
  background-color: #555;
}

.exam-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}